*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

.header{
    background-color: rgb(110, 110, 236);
    color: white;
    height: 80px;
    width: 85vw;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    text-transform: uppercase;
}

.logo a{
    color: white;
    text-decoration: none;
}

.navbar{
    background-color: rgb(177, 186, 224);
    color: white;
    width: 85vw;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul{
    text-align: right;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 25px;
    color: white;
}

.navbar ul li a:hover{
    color: blue;
}

#mainContent{
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-bottom: 1em;
}

#portada{
    width: 78%;
    background-color: rgb(121, 118, 118);
    padding: 1.6em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.destacado, .default{
    background-color:white;
    padding: 0.7em;
}

.destacado{
    margin-bottom: 0.6em;
}

.default{
    box-sizing: border-box;
    width: 50%;
    float: left;
    height: 500px;
}

.imgNota img{
    width: 100%;
    height: 25vw;
}

#formContacto{
    padding: 1.2em;
    background-color: rgb(133, 139, 133);
    border-radius: 15px;
    margin-top: 1em;
    margin-bottom: 3em;
}
#formContacto input, #formContacto select, #formContacto textarea{
    width: 100%;
    padding: 0.6em;
    margin-bottom: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


footer{
    clear: both;
    background-color: rgb(145, 145, 245);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

